* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1{
	font-size: 175%;
	text-align: center;
	padding-block-end: 2%;
}

label{
	font-family: "Poppins", sans-serif;
	font-size: 100%;
}

.form-register {
	width: 98%;
	background: #3b83bd;
	padding: 0.7%;
	margin: auto;
	border-radius: 0.40em;
	font-family: "Poppins", sans-serif;
	color: white;
	box-shadow: 0.4375em 0.8125em 2.31255em #000;
}
.form-register h4 {
	font-size: 1.375em;
	/*margin-bottom: 1.25em;*/
}
.controls {
	width: 99%;
	background: #e1e9f4;
	/*padding: 0.25em;*/
	border-radius: 0.25em;
	margin-bottom: 0.3125em;
	border: 0.125em solid #146ca4;
	font-family: "Poppins", sans-serif;
	font-size: 175%;
}
#emailR,#passwordR,#password_vf{
	font-size: 175%;
	width: 98%;
	padding:0.7%;
	margin: 0.7%;
}
.controles{
	width: 100%;
	/*background-color: rgb(81, 155, 168);*/
}
input[type=checkbox] {
	transform: scale(2);
	margin-right: 3%;
  }
.form-register p {
    height: 1em;
    text-align: center;	
    font-size: 150%;
}

.form-register a {
    color: white;
    text-decoration: none;	
}

.form-register a:hover{
    color: white;
    text-decoration: underline;	
}

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;	
    /*padding: 0.9375em;*/
    color: white;
    /*margin: 1em 0;*/
    font-size: 175%;
}
.regist{
	margin-top: 0em;
	text-align: center;
}
.modalRegistro{
	font-size: 1.875em;
	margin-block-end: 0em;
}
#ver{
	font-size: 175%;
	font-weight: bold;
	color:white;
	padding-top: 0%;
	padding-block-end:0% ;
}
#modalIcon{
	width: 4em;
}

