html {
    background-color: #56baed;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 0%;
    color: #cccccc;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 2%;
}

#formContent {
    -webkit-border-radius: 0.625em 0.625em 0.625em 0.625em;
    border-radius: 0.625em 0.625em 0.625em 0.625em;
    background: #fff;
    padding: 2%;
    width: 90%;
    max-width: 30em;
    max-height: 60%;
    position: relative;
    padding: 0%;
    -webkit-box-shadow: 0 1.875em 3.75em 0 rgba(0,0,0,0.3);
    box-shadow: 0 1.875em 3.75em 0 rgba(0,0,0,0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1% solid #dce8f1;
    max-width: 30em;
    padding: 3%;
    text-align: center;
    font-size: 175%;
    -webkit-border-radius: 0 0 0.625em 0.625em;
    border-radius: 0 0 0.625em 0.625em;
}


h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 0.125em solid #5fbae9;
}


input[type=button], input[type=submit], input[type=reset] {
    background-color: #56baed;
    width: 89%;
    border: none;
    color: white;
    padding: 7% 12%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 175%;
    -webkit-box-shadow: 0 0.625em 1.875em 0 rgba(95,186,233,0.4);
    box-shadow: 0 0.625em 1.875em 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
    border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
    margin: 0em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
        background-color: #39ace7;
    }

    input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

input[type=email], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 4% 8%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 175%;
    margin: 0.3125em;
    width: 85%;
    border: 0.125em solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
    border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
}

    input[type=email]:focus, input[type=password]:focus {
        background-color: #fff;
        border-bottom: 0.125em solid #5fbae9;
    }

    input[type=email]::placeholder {
        color: #cccccc;
        background-image: url(/img/mail_icon.png);
        background-size: 1.5em 1.5em;
        background-repeat: no-repeat;
        background-position: left center;
    }

    input[type=password]::placeholder {
        color: #cccccc;
        background-image: url(/img/password_icon.png);
        background-size: 1em 1em;
        background-repeat: no-repeat;
        background-position: left center;
    }


/* Animaciones */

/* Animación */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Animación */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

    .fadeIn.first {
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .fadeIn.second {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

    .fadeIn.third {
        -webkit-animation-delay: 0.8s;
        -moz-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }

    .fadeIn.fourth {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        animation-delay: 1s;
    }

/* Animación */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -0.625em;
    width: 0;
    height: 0.125em;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

    .underlineHover:hover:after {
        width: 100%;
    }

*:focus {
    outline: none;
}

#icon {
    width: 60%;
}

#btnGoogle {
    width: 10%;
    height: 10%;
    background-image: url(/img/google_g_icon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: white;
    padding: 15% 15%;
    display: inline-block;
    -webkit-box-shadow: 0 0.625em 1.875em 0 rgba(95,186,233,0.4);
    box-shadow: 0 0.625em 1.875em 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
    border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
    margin: 0.3125em 1.25em 2.5em 1.25em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.label {
    font-size: 175%;
}

#register{
    font-size: x-large;
    font-weight: bold;
    color: rgba(0,142,165,255);
}